*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: "Arial Black", sans-serif;
}

header{
background-color: #003B1C;
color: white;
width: 100%;
padding: 20px;
}

.cabecalho-itens{
max-width: 1980px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}

.cabecalho-imagem {
height: 70px;
width: auto;
display: block;
}

.titulo_site{
padding: 50px;
text-align: center;
width: 50%;
font-size: 45px;
}

.sociais{
display: flex;
justify-content: flex-end;
width: 25%;
padding-right: 30px;
}

.banner1 {
width: 100%;
overflow: hidden;
display: flex;
justify-content: center;
background-color: #003B1C;
}

.escola-image {
width: 100%;
height: auto;
display: block;
object-fit: cover;
}

.estudante_titulo {
color: #000000;
padding: 60px 20px;
text-align: center;
font-size: 55px;
font-weight: bold;
}

.estudante-nome {
color: #000000;
text-align: center;
font-size: 22px;
font-weight: 500;
}

.estudante-imagem {
width: 220px;       
height: 250px;      
object-fit: cover;  
}


.estudante-icone {
width: 65px;
height: auto;
display: block;
margin: 15px auto 0;
}

.estudante{
background-color: #dfdb0f;
padding: 24px 0;
}

.estudante.div{
text-align: center;
padding: 24px 0;
}

.estudantes_todos{
display: flex;
justify-content: space-around;
}

.escola{
background-image: linear-gradient(#003B1C,#003B1C);
color: white;
display: flex;
justify-content:center;
padding: 24px 0;
text-align:center;
display:block;
}

.escola-titulo{
padding: 50px;
text-align: center;
}

.logo_rodape{
height: 80px;
padding: 12px 0;

}

.link{
color: #ffffff;
text-decoration: none;
}

/* essse e a parte do mapa */

.localizacao {
text-align: center;
padding: 40px;
background-color: #003B1C;
color: white;
}
.mapa-container iframe {
display: block;
margin: 0 auto;
max-width: 100%;
border-radius: 10px;
}
